

nav{
    width:100%;
    height:230px;
    background-color:rgba(0,0,0,0.7);
    float:left;
    box-sizing:border-box;
    padding:30px;

}
body{
    
    background-image: url("https://img.freepik.com/premium-photo/magnifier-glass_172429-231.jpg?w=740");
    background-size:100% 800px;
    padding:0;
    margin:0;
     background-attachment: fixed;
}
#welcome{
    font-size:80px;
    color:white;
    text-align:center;
    padding:0;
    margin:0;

}
#navbar{
    width:750px;
    height:70px;
    
    box-sizing:border-box;
    margin-top:8opx;
}
#nav_item{
    width:20%;
    height:60px;
   border-width:2px;
   border-style:solid;
   border-color:white;
   text-align:center;
}
a{
    text-decoration:none;
    font-size:20px;
    color:white;
    font-size:20px;
    font-family:sans-serif;
}
#home_section{
    width:400px;
    height:400px;
    box-sizing:border-box;
    float:right;
    background-color:rgba(142, 106, 106, 0.7);
}
#logo{
    width:200px;
    height:200px;
    box-sizing:border-box;
    border-width:5px;
    border-style:solid;
    border-color:white;
    margin-top:100px;
    margin-left:30px;


}
#logo_text{
    font-size:90px;
    padding:0;
    margin:0;
    margin:20px;
    margin-top:40px;
    font-family:Impact;
}
#domain{
    font-size:35px;
    padding:0;
    margin:0; 
    font-family:verdana;
    text-align:center;
    margin-top:20px;
   

}
#domain_name{
    padding:0;
    margin:0; 
    color:white;
    text-align:center;
    font-family:sans-serif;
    font-size:60px;

}
#login-fieldset{
    width:330px;
    height:250px;
    border-width:5x;
    border-style:solid;
    border-color:white;
    padding:30px;
    margin-left:3px;
    margin-top:20px;
    

}
#login_section{
    width:400px;
    height:400px;
    box-sizing:border-box;
    float:right;
    background-color:rgba(142, 106, 106, 0.7);
}
legend{
   font-family:century gothic;
   color:white;
    font-size:30px;
    font-weight: bold;
    
}
#login-form{
   font-family:century gothic;
   color:white;
   font-size:22px;

}
#username{
width:100%;
height:30px;
background-color: inherit;
border:none;
border-width:2px;
border-style:solid;
border-color:white;
margin-top:10px;
font-size:20px;
color:white;
margin-bottom:20px;




}
#password{
    width:100%;
    height:30px;
    background-color: inherit;
    border:none;
    border-width:2px;
    border-style:solid;
    border-color:white;
    margin-top:10px;
    font-size:20px;
    color:white;
}

#login-btn{
    width:100px;
    height:35px;
    float:right;
    margin-top:20px;
    background-color: inherit;
    border:none;
    border-width:2px;
    border-style:solid;;
    border-color:white;
    color:white;
    font-family:Verdana;
    font-size:15px;


}
#Sign_Up-btn{
    width:100px;
    height:35px;
    float:right;
    margin-top:5px;
    background-color: inherit;
    border:none;
    border-width:2px;
    border-style:solid;;
    border-color:white;
    color:white;
    font-family:Verdana;
    font-size:15px;

}
#email{
    width:100%;
height:30px;
background-color: inherit;
border:none;
border-width:2px;
border-style:solid;
border-color:white;
margin-top:5px;
font-size:20px;
color:white;
margin-bottom:10px;

}
#address{
    width:100%;
    height:30px;
    background-color: inherit;
    border:none;
    border-width:2px;
    border-style:solid;
    border-color:white;
    margin-top:5px;
    font-size:20px;
    color:white;
    margin-bottom:10px;
    
}
#Sign_up-form{
    font-family:century gothic;
    color:white;
    font-size:18px;
    
    
}
#sign_up-fieldset{
    width:390px;
    height:390px;
    border-width:5x;
    border-style:solid;
    border-color:white;
    padding:30px;
    margin-left:3px;
    margin-top:0;
    padding-top:3px;
    box-sizing:border-box;
}
#mobile_no{
      width:100%;
    height:30px;
    background-color: inherit;
    border:none;
    border-width:2px;
    border-style:solid;
    border-color:white;
    margin-top:5px;
    font-size:20px;
    color:white;
    margin-bottom:10px;
}
#username1{
width:100%;
height:30px;
background-color: inherit;
border:none;
border-width:2px;
border-style:solid;
border-color:white;
margin-top:10px;
font-size:20px;
color:white;
margin-bottom:10px;
}
#Contact{
    font-family:Gill Sans;
    color:white;
    font-style:normal;
    line-height:50px;
    font-size:18px;
}
#Contact-filedset{
    width:330px;
    height:250px;
    border-width:5x;
    border-style:solid;
    border-color:white;
    padding:30px;
    margin-left:3px;
    margin-top:20px;
}
#product-section{
   width:100%;
   height:1800px;
   
   float:left;
   box-sizing:border-box;
   
   
}
#brands{
 width:100%;
 height:360px;
 background-color:rgba(255,255,255,0.8);
 float:left;
 box-sizing:border_box;


}
#brand-heading{
   text-align:center;
   font-family:Sans serif;
    font-size:40px; 
}
#brand-pic{
  width:200px;
  height:80px;
  float:left;
  box-sizing:border-box;  
 border-width:3px;
 border-style:solid;
 border-color:black;
 margin:20px;
 
}
#image_brand{
   width:195px;
   height: 75px;
   box-sizing:border-box;
}
#search{
    width:60%;
    height:50px;
     box-sizing:border-box;
    margin-left:20%;
    margin-right:20%;
    margin-top:20px;
    border:none;
    border-color:#ccc;
    border-width:1px;
    border-style:solid;
    font-size:20px;
    padding-left:7px;
    
    background-image: url("https://img.freepik.com/premium-photo/magnifier-glass_172429-231.jpg?w=740");
    background-size: 50px 50px;
    background-position: right;
    background-repeat: no-repeat;



}
#shoes-products{
    width:100%;
    height:2000px;
    float:left;
    box-sizing:border-box;
    background-color:rgba(0,0,0,0.7);
    padding-left:10px;


}
#adidas{
 text-align:center;
 color:white;
 font-family:century gothic;
 font-size:35px;
}
#adidas-product{
    width: 230px;
    height: 280px;
    border-width: 2px;
    border-style:solid;
    border-color:white;
    float:left;
    box-sizing:border-box;
    margin:3px;
}
#puma{
    text-align:center;
    color:white;
    font-family:century gothic;
    font-size:35px;
    margin-top: 300px;
}
#puma-product{
    width: 230px;
    height: 280px;
    border-width: 2px;
    border-style:solid;
    border-color:white;
    float:left;
    box-sizing:border-box;
    margin:3px;
}
#Campus-product{
    width: 230px;
    height: 280px;
    border-width: 2px;
    border-style:solid;
    border-color:white;
    float:left;
    box-sizing:border-box;
    margin:3px;
}
#Campus{
    text-align:center;
    color:white;
    font-family:century gothic;
    font-size:35px;
    margin-top: 300px;
}
#products_img{
    box-sizing:border-box;
    height:230px;
    width:227px;
}
#Sparx{
    text-align:center;
    color:white;
    font-family:century gothic;
    font-size:35px;
    margin-top: 300px;
}
#Sparx-product{
    width: 230px;
    height: 280px;
    border-width: 2px;
    border-style:solid;
    border-color:white;
    float:left;
    box-sizing:border-box;
    margin:3px;
}
#Reebok{
    text-align:center;
    color:white;
    font-family:century gothic;
    font-size:35px;
    margin-top: 300px;
}
#Reebok-product{
    width: 230px;
    height: 280px;
    border-width: 2px;
    border-style:solid;
    border-color:white;
    float:left;
    box-sizing:border-box;
    margin:3px;
}